include utils.pug

doctype html
html
  head
      block head
        title=`Recipeople - ${title}`
        link(rel='shortcut icon' type='image/png' href='/assets/logos/favicon.png')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel="stylesheet" href="https://use.typekit.net/leo2why.css")
        script(src="https://kit.fontawesome.com/b3350ecda3.js" crossorigin="anonymous")
        script(src='/javascripts/index.js')

  body
    navbar
      a(href='/'): img(id ='logo' src="/assets/logos/main-logo-2.svg" alt="Recipeople Main Logo")
      ul.nav-links
        if locals.authenticated
          li.nav-item(data-userId= user.id, id="userinfo"): a.button(href=`/users/${user.id}`) Welcome #{user.userName}!
          li.nav-item: a.button(href="/recipes/new") Create A Recipe
          li.nav-item: a.button(href="/recipes") View Recipes
          li.nav-item
            form(action='/users/logout' method='post')
              button.button(type='submit') Logout
        else
          li.nav-item: a.button(href="/recipes") Explore Recipes
            li.nav-item: a.button(href='/users/login') Login
            li.nav-item: a.button(href='/users/signup') Register
    block content

    footer
      .footer-cols
        div(class='column image-column')
          img.footer-logo(src="/assets/logos/main-logo-2.svg" alt="Recipeople Main Logo")
        .column
          h3.about-blurb About Recipeople
          p.about-blurb
            | Recipeople is a website where users can sign up, post recipes, and curate collections of recipes published by other users. This website was designed as a Week 13 midterm project as part of App Academy's 24-week Full Stack Software Engineering Bootcamp.
        .column
          h3.biography Hire Us
          ul.biography
            li.builder-name Alethia Kim
              a.builder-link(href='#')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/akim38')
                i(class="fab fa-github")
            li.builder-name Denise Li
              a.builder-link(href='https://www.linkedin.com/in/denise-li-45350320/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/cat-friend')
                i(class="fab fa-github")
            li.builder-name Mei Shih
              a.builder-link(href='https://www.linkedin.com/in/meiyinshih/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/MeiMeiYS')
                i(class="fab fa-github")
            li.builder-name Cameron Whiteside
              a.builder-link(href='https://www.linkedin.com/in/cameronwhiteside/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/CameronWhiteside')
                i(class="fab fa-github")

        .column
          h3.footer-nav Explore
          ul.footer-nav
            li: a(href='/') Home
            li: a(href='/recipes') Find Recipes
            if locals.authenticated
              li: a(href="/recipes/new") Create A Recipe
              li: a(href=`/users/${user.id}`) Profile Page
            else
              li: a(href='/users/signup') Register
              li: a(href='/users/login') Log In

      .footer-bottom
        p Built December 2021 with Javascript, Pug, and Express
