script(src="/javascripts/api-reviews.js", type="module")

#errors
    +validationErrorSummary(errors)

if locals.authenticated
    #addAReview
        a(class='button', href='#') Submit a New Review

#allReviews

