script(src="/javascripts/api-reviews.js", type="module")
if locals.authenticated
    #addAReview
        a(class='button', href='#') Submit a New Review
#errors
    +validationErrorSummary(errors)
#allReviews
