extends layout.pug

block content
    div(class="profile-container")
        h2=user.userName
        img(src=user.Image.url)
        a(class='edit-image' href=`${user.id}/edit` role='button') Change Picture
    div(class="recipes-container")
        h2 My Recipes
        a(class='new-recipe' href='/recipes/new' role='button') Add New Recipe
        each recipe in recipes
            +recipeBadgeArea(recipe)
    div(class="collections-container")
        h2 My Collections
        script(src='/javascripts/collections.js')
        div.new-collection-form
            button(class='button' id='newCollectionBtn' type='submit' onclick='addNewCollection()') Add
        div.all-collections
            each collection in collections
                div.collectionContainer
                    div(class='collection-header')
                        h3=collection.name
                        button(class='button' type='submit' onclick='editCollectionName()') Edit Name
                        button(class='button' type='submit' onclick='deleteCollection()') Delete Collection
                    div(class='recipe-list')
