:root {
    --primary-700: #600B0B;
    --primary-500: #bc8379;
    --primary-300: #fff6f4;
    --neutral-700: #56423e;
    --neutral-500: #89726E;
    --neutral-300: #bea6a1;
    --neutral-100: #ffffff;

    --body-font: effra, sans-serif;
    --title-font: tomarik-display, sans-serif;
    --heading-font: tomarik-poster, sans-serif;

    --heading-size: 2em;
    --button-size: 1.5em;

    --big-desktop-min-width: 1200px;
    --desktop-min-width: 992px;
    --tablet-min-width: 768px;
    --mobile-min-width: 576px;

    --whisk-700: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%2356423e'/%3E%3C/svg%3E");
    --whisk-500: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%2389726E'/%3E%3C/svg%3E");
    --whisk-300: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%23bea6a1'/%3E%3C/svg%3E");

    --boxy-border: 4px solid var(--neutral-700);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-700)
}

h1 {
    color: #555555;
}

/* UNIVERSAL BUTTON STYLES */

  a.button {
    color: var(--neutral-700);
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--button-size);
    display: block;
    position: relative;
    padding: 2px 0px;
    overflow: hidden;
  }

  /* Fade in */
  a.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-700);
    transition: transform .15s;
    transform: translate3d(-100%, 0, 0);
  }


 a.button:hover::after,
 a.button:focus::after{
    transform: translate3d(0, 0, 0);
  }



/* RECIPE BADGES */
.flex-area{
    display: flex;
}

.card{
    border: var(--boxy-border);
    background-color: var(--primary-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px;

}

.card > img{
    width: 250px;
    height: 175px;
    margin: 25px;
    object-fit: cover;
    border: var(--boxy-border)
}

.card h2{
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

.rating {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    margin: 10px;
  }

  /* .rating-0 {
    filter: grayscale(100%);
  } */

  .rating > input {
    display: none;
  }

  .rating > label {
    width: 30px;
    height: 45px;
    background-image: var(--whisk-300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: var(--whisk-700);
  }


  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: var(--whisk-500);
  }

  .username{
      font-family: var(--body-font);
      font-weight: 500;
      text-transform: lowercase;
  }

  .view-button{
    border: var(--boxy-border);
    padding: 10px;
    margin: 10px 0px 20px;
    }
