:root {
    --primary-700: #600B0B;
    --primary-500: #bc8379;
    --primary-300: #fff6f4;
    --neutral-700: #56423e;
    --neutral-500: #89726E;
    --neutral-300: #bea6a1;
    --neutral-100: #ffffff;
    --green-success-500: #605f47;
    --green-success-300: #678542;
    --green-hover-500: #1c1c15;
    --red-error-500: #a33c2e;


    --body-font: effra, sans-serif;
    --title-font: tomarik-display, sans-serif;
    --heading-font: tomarik-poster, sans-serif;

    --heading-size: 2.5em;
    --button-size: 1.5em;

    --big-desktop-min-width: 1200px;
    --desktop-min-width: 992px;
    --tablet-min-width: 768px;
    --mobile-min-width: 576px;

    --whisk-700: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%23600B0B'/%3E%3C/svg%3E");
    --whisk-500: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%2389726E'/%3E%3C/svg%3E");
    --whisk-300: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 311.16 449.78'%3E%3Cpath d='M298.94,8.24c-91.31-47.08-81,121.45-132,157.09-11.59,5.09-9.44,14.9-8.15,20.81C125.21,256.34-21,292.71,2.56,389.68c16.2,70.54,128.84,85.61,155,9.31,24-52.29,15.23-136.17,39.76-186.21,22.45-3,16-23.42,22.37-37.06C243.23,124.38,346.08,68.85,298.94,8.24ZM259.81,37.73c5-11.94,22.21-13.15,22.87,0C284.75,63.48,244.4,67.94,259.81,37.73ZM62.19,422.28C92.12,371.53,120.1,320,150.13,269.39,132.6,326.53,115.59,411,62.19,422.28ZM134.7,259.44c-27.29,49-61.88,104.57-89.27,153.68C27.42,362.76,94.16,303.54,134.7,259.44ZM89.8,433c37.41-14.61,69.83-148.63,68.36-122.63C150.57,358.56,146.53,428.81,89.8,433Zm12.71-165.47c-21.65,26.6-74.77,78.08-79.89,126.2C-1.62,345,55.77,302.26,102.51,267.49Z' fill='%23bea6a1'/%3E%3C/svg%3E");

    --boxy-border: 4px solid var(--neutral-700);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-700);
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

/* UNIVERSAL BUTTON STYLES */

  a.button {
    color: var(--neutral-700);
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--button-size);
    display: block;
    position: relative;
    padding: 2px 0px;
    overflow: hidden;
  }

  /* Fade in */
  a.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-700);
    transition: transform .15s;
    transform: translate3d(-100%, 0, 0);
  }


 a.button:hover::after,
 a.button:focus::after{
    transform: translate3d(0, 0, 0);
  }

/*
  NAV MENU */

  navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-500);
    padding: 20px 150px 20px 150px;
    transition: 0.2s;
	top: 0;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 100;
  }

  .nav-links{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
  }

  .nav-item .button{
      text-decoration: none;
      text-transform: uppercase;
      list-style-type: none;
      font-family: var(--heading-font);
      font-size: 25px;
      color: var(--neutral-100);
      width: auto;
      margin: 0px 40px;
      background-color: transparent;
      border: none;
  }


  #logo{
    height: 50px;
    position: relative;
    top: -5px;
}

button.button{
    cursor: pointer;
}




/* RECIPE BADGES */
.flex-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}

.card{
    border: var(--boxy-border);
    background-color: var(--primary-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 480px;
    margin: 40px;
}

.card > img{
    width: 250px;
    height: 175px;
    margin: 25px;
    object-fit: cover;
    border: var(--boxy-border)
}

.card .title h2{
    color: var(--neutral-700);
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 36px;
    padding: 0px 10px;
    margin-top: 0;
    text-align: center;
}

.rating {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    margin: 10px;
  }

  /* .rating-0 {
    filter: grayscale(100%);
  } */

  .rating > input {
    display: none;
  }

  .rating > label {
    width: 30px;
    height: 45px;
    background-image: var(--whisk-300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: var(--whisk-700);
  }


  /* .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: var(--whisk-500);
  }

  .card .rating > input:not(:checked) ~ label:hover,
  .card .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: inherit;
  } */

  .username{
      font-family: var(--body-font);
      font-weight: 500;
      text-transform: lowercase;
  }

  .view-button{
    border: var(--boxy-border);
    padding: 10px;
    margin: 10px 0px 20px;
    }

    /* SPLASH PAGE */
    .home-banner{
        display:flex;
        background-color: var(--primary-500);
        z-index: 0;
    }


    .leftcol{
        margin-right: 10px;
        width: 30%;
    }

    .rightcol{
        width: 70%;
        height:35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 776px;
        z-index: 50;
    }


    .shelves-02{
        background-image:url(../assets/illustrations/shelves.png);
        position: absolute;
        background-size:contain;
        background-position: right;
        opacity: 60%;
        top: 100px;
        width: 70vw;
        height: 30vw;
        background-repeat: no-repeat;
        z-index: 0;;
    }



    .shelves-01{
        background-image:url(../assets/illustrations/forward-shelves.png);
        width: 30vw;
        height: 700px;
        top:100px;
        margin-left: -10px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 20;
    }

    h2.hero-tagline{
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-size: 2.25vw;
        color:var(--primary-700);
        margin: 20px;

    }

    .horizontal-divider{
        background-color: var(--primary-700);
        height: 4px;
        width: 600px;
        margin: 100px 0px 50px;
    }

    .hero-logo{
        width: 45vw;
    }


    .cta-container{
        border: 4px solid var(--neutral-100);
        padding: 10px 15px 5px;
        margin-top: 40px;
        width: fit-content;
    }

    .cta-main{
        font-family: var(--heading-font);
        text-transform: uppercase;
        background-color: transparent;
        font-size: 2.25vw;
        width: auto;
        color:var(--neutral-100);
    }

    /* RECIPE PAGE */

    .recent-recipes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .recent-recipes > h2,
    .search-recipes > h2 {
        margin-top: 60px;
        margin-bottom: 30px;
        font-family: var(--heading-font);
        font-size: var(--heading-size);
        text-transform: uppercase;
        color: var(--primary-700)
    }

    .search-recipes{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-300);
    }

    .searchbox{
        border: var(--boxy-border);
    }
    .search-recipes input{
        -webkit-appearance: none;
        font-family: var(--body-font);
        font-size: 1em;
        min-width: 300px;
        min-height: 40px;
        padding-left: 5px;

    }

    .search-recipes:focus{
        -webkit-appearance: none;
    }

    .search-recipes button{
        border: none;
        border-left: var(--boxy-border);
        min-height: 40px;
        min-width: 40px;
        font-size: 1em;
        background-color: var(--neutral-100);
    }


    h3.results-header{
        padding: 10px;
        font-family: var(--body-font);
    }

    .recipe-owner-buttons {
        display: flex;
    }



    /* CREATE RECIPE FORM */

    .form-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-area input,
    .form-area textarea,
    .form-area select {
        border: none;
        min-height: 40px;
        background-color: var(--primary-300);
        color: var(--neutral-700);
        margin-top: 3px;
        font-size: 16px;
        padding: 5px;
    }

    .form-area h1{
        font-family: var(--heading-font);
        font-size: var(--heading-size);
        color: var(--primary-700);
        text-transform: uppercase;
        margin: 25px;
    }

    .new-recipe-form {
        display: flex;
        background-color: var(--neutral-300);
        border: var(--boxy-border);
        flex-direction: column;
        padding: 30px;
        margin-bottom: 50px;

    }

    .new-recipe-form * {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #qmi-list{
        margin-top: 15px;
    }
    .qmi-row{
        display: inline;
    }

    .qmi-row *{
        display: inline;
    }

    .qmi-row label{
        display: none;
    }

    .qmi-row > *:nth-child(1) input{
        width: 80px;
    }
    .qmi-row > *:nth-child(2) select{
        width: 140px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .qmi-row > *:nth-child(3) select{
        width: 200px;
    }



    .qmi-row input,
    .qmi-row select{
        font-size: 15px;
        margin-top: 0px;
    }

    .new-recipe-form .qmi-row select{
        position: relative;
        padding-top: 9px;
    }

    .add-button,
    .delete-button{
        display:inline
    }

    .add-button {
        color: var(--green-success-500);
        margin-top: 5px;
        background-color: var(--neutral-300);
        border:none;
        width: fit-content;
    }


    i.fa-plus-circle {
        color: var(--green-success-500);
        margin-left: 5px;
        background-color: var(--neutral-300);
        border:none;
    }

    .add-button i.fa-plus-circle {
        pointer-events: none;
    }

    .add-button:hover, .add-button:hover i.fa-plus-circle{
        color: var(--green-success-300);
    }

    .delete-button,
    i.fa-trash-alt {
        background-color: none;
        border:none;
        color: var(--primary-700);
        margin-left: 10px;
    }

    .delete-button i.fa-trash-alt {
        pointer-events: none;
    }

    .delete-row{
        background-color: var(--neutral-300);
        min-height: 40px;
        position: relative;
        top: 5px;
    }

    .delete-row:hover, .delete-row:hover i.fa-trash-alt{
        color: var(--red-error-500);
    }

    .new-recipe-form label{
        font-family: var(--heading-font);
        text-transform: uppercase;
        color: var(--neutral-700);
        font-size: 24px;
        margin-top: 15px;
    }

    .new-recipe-form input,
    .new-recipe-form text-area,
    .new-recipe-form select{
        font-family: var(--body-font);
        font-size: 18px;
        margin: 0px;
        padding: 10px;
    }

    .form-area button{
        background-color: none;
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-size: 24px;
    }

    #steps{
        height: 200px;
    }

    .steps{
        width: 600px;
        overflow-wrap: break-word;
    }

    .submit{
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    .submit button{
        background-color: var(--neutral-300);
        border: var(--boxy-border);
        padding: 5px 10px 5px;
        font-size: 30px;
        transition: color 0.2s, border-color 0.2s;
    }


    .submit button:hover{
        color: var(--neutral-500);
        border-color: var(--neutral-500);
    }

    .submit a {
        display: block;
        margin-top: 10px;
        background-color: var(--neutral-300);
        border: var(--boxy-border);
        padding: 5px 10px 5px;
        font-size: 30px;
        transition: color 0.2s, border-color 0.2s;
        text-decoration:none;
        font-family: var(--heading-font);
        text-transform: uppercase;
    }

    .submit a:hover {
        color: var(--neutral-500);
        border-color: var(--neutral-500);
    }

    #delete-recipe {
        padding: 5px 10px 5px;
        font-size: 20px;
        border-color: var(--primary-700);
        color: var(--primary-700);
        margin-top: 10px;
    }

    #delete-recipe:hover {
        color: var(--red-error-500);
        border-color: var(--red-error-500);
    }

    .edit-page-btn-group {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

/* USER ID PAGE */

.user-page-content{
    display: flex;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: var(--primary-300);
    padding: 40px;
    min-height: 100vh;
    position: fixed;
}

.profile-pic{
    width: 250px;
    height: 250px;
    border: var(--boxy-border);
    overflow: hidden;
    border-radius: 50%
}

.profile-pic > img{
    margin: 0 auto;
    height: 100%;
}

.profile-container > h2{
    font-family: var(--heading-font);
    font-size: var(--heading-size);
}

.profile-container > h4{
    font-family: var(--body-font);
    font-weight: 700;
    color: var(--neutral-500);
    margin-top: 35px;
    margin-bottom: 5px;
}

.edit-button{
    width: 60px;
    height: 60px;
    border: var(--boxy-border);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 80px;
    bottom: 60px;
    background-color: var(--neutral-700);
    font-size: 30px;
    transition: transform 0.2s;

}

.edit-button:hover{
    transform: translateY(-4px)
}

.edit-button > i{
    color: var(--primary-500);
    transition: background-color 0.2s;
}

.edit-button > i:hover{
    color: var(--primary-300);
}

.profile-container span{
    font-size: var(--heading-size);
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.recipes-data{
    background-color: var(--neutral-300);
    width: 100%;
    padding: 40px 40px 40px 550px;
    min-height: 90vh;
}

.recipes-data .recipes-container{
    display: flex;
}

.recipes-data h2{
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    text-transform: uppercase;
    color: var(--primary-300);
    margin-top: 25px;
}

.recipes-data a{
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    margin-top: 5px;
}

.recipes-data i{
    margin-right: 5px;
}

.recipes-data a *{
    transition: color 0.2s
}

.recipes-data a:hover *{
    color: var(--green-hover-500)
}


/* RECIPE PAGE */
.recipe-page-content{
    display: flex;
    background-color: var(--neutral-100);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

}
.recipe_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 1000px;
    height: fit-content;
    background-color: var(--primary-300);
}

h1.recipe-name{
font-size: var(--heading-size);
font-family: var(--heading-font);
text-transform: uppercase;
color: var(--neutral-700);
margin: 10px;
}

.date-metadata{
    display: flex;
    width: 450px;
    justify-content: space-between;
    font-family: var(--body-font);
    font-size: 12px;
    margin: 10px 0px 25px;
}

.review-data .date-metadata{
    justify-content: flex-start;
}

.date-metadata  *{
    margin-right: 10px;
}

.recipe-image-container{
    width: 450px;
    height: 300px;
    border: var(--boxy-border);
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-image-container img{
    width: 100%;
}


.recipe-overview{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--body-font);
    width: 600px;
}

.average-rating,
.description,
.review-header{
    font-size: 20px;
    font-family: var(--body-font);
    margin-bottom: 20px;
    max-width: 600px;
}

.recipe-info > *{
    margin: 10px;
    list-style-type: none;
}

.line-divider{
    border-top: var(--boxy-border);
    border-color: var(--primary-500);
    width: 100%;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.review-box{
    display: flex;
    margin: 20px;
    max-width: 600px;
}

.review-image-container{
    width: 125px;
    height: 125px;
    overflow: hidden;
    border: var(--boxy-border);
}

.review-image{
    width: 125px;
    margin: 0 auto;
}

.review-data{
    width: 450px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.review-rating{
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.review-rating span{
    margin-left: 5px;
}

.review-text{
    font-family: var(--body-font);
}

.recipe_details button,
.recipe_details a,
.form-wrapper button{
    background-color: var(--neutral-700);
    border: var(--boxy-border);
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--primary-300);
    font-size: 24px;
    padding: 4px 6px;
    margin: 5px;
    transition: color 0.15s, background-color 0.15s;
}


.recipe_details button:hover,
.recipe_details a:hover,
.form-wrapper button:hover{
    background-color: var(--neutral-500);
    text-transform: uppercase;
    color: var(--neutral-700);
}

button.status-btn {
    border-radius: 30px;
    font-size: 20px;
    height: 30px;
    padding: 0 5px;
    background-color: var(--primary-500);
    line-height: 25px;
    border: 2px solid var(--primary-500);
    transition: 0.25s;
}

button.status-btn:hover {
    color: var(--neutral-100);
    background-color: var(--neutral-300);
    border: 2px solid var(--neutral-300);
    box-shadow: 0.2em -0.3em 0.5em -0.4em var(--primary-500);
}

.statusOn {
    color: var(--neutral-100) !important;
    background-color: var(--green-success-300) !important;
    border: 2px solid var(--green-success-300) !important;
}

/* USER LOGIN */
.form-wrapper{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper > form{
    min-width: 500px;
    background-color: var(--neutral-300);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-wrapper > form ul{
    font-family: var(--body-font);
    list-style-type: none;
    margin-bottom: 30px;
}
.form-wrapper > form li{
    color: var(--primary-700);
    margin: 4px 10px;
}

.form-wrapper input{
    background-color: var(--neutral-100);
    font-family: var(--body-font);
    border: var(--boxy-border);
    padding: 3px;
    color: var(--neutral-500);
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 25px;
}

.form-wrapper label,
.form-wrapper a{
    font-family: var(--body-font);
    font-size: 20px;
    margin: 10px 0px;
    text-decoration: none;
    transition: color 0.2s;
}

.form-wrapper a:hover{
    color: var(--primary-700)
}


/* FOOTER */

footer{
    background-color: var(--primary-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.footer-cols{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
}

.column {
    width: fit-content;
    max-width: 35%;
    min-width: 15%;
    padding: 20px;
}



.column.image-column {
    width: fit-content;
    padding: 20px;
}

footer img{
    width: 120px;
    max-width: 90%;
}


footer li,
footer li a,
footer i {
    list-style-type: none;
    font-family: var(--body-font);
    color: var(--primary-500);
    font-size: 18px;
}

footer i{
    margin-left: 5px;
    color: var(--primary-500);
}

footer i:hover,
footer a:hover{
    color: var(--neutral-100);
}


footer h3 {
    font-family: var(--body-font);
    color: var(--primary-300);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

footer h3.about-blurb {
    margin-bottom: 8px;
}


footer p {
    color: var(--primary-500);
    font-family: var(--body-font);
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: var(--primary-300);
    padding: 5px;
    line-height: 2;
}




.footer-bottom {
background-color: var(--neutral-700);
display: flex;
justify-content: center;
width: 100%;
padding-top: 8px;
padding-bottom: 8px;
}

.footer-bottom p {
color: var(--neutral-300);
max-width: 1600px;
width: 100%;
font-family: var(--body-font);
padding-left: 10px;
}

/* error-404 page */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    background-color: var(--primary-300);
}

.error-header {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 25px;
    color:var(--primary-700);
}

h1.error-header {
    font-size: 100px;
    padding: 0 10px;
}

.error-headline {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.error-links a {
    margin: 15px 50px;
    display: inline-block;
}

#error404-img {
    height: 100px;
    filter: invert(11%) sepia(46%) saturate(3268%) hue-rotate(342deg) brightness(104%) contrast(106%);
    padding: 0 10px;
}
